@model IEnumerable<CartViewModel>
@{
    ViewData["Title"] = "Shopping Cart";
}
<h2>Shopping Cart</h2>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-6">
            <a asp-action="Details" asp-route-id="@item.ProductId">
                <img src="@item.ImageSrc" width="130" height="130" />
                @item.Title
            </a>
        </div>
        <span class="col-md-3">
            <br />
            <br />
            @item.Price x @item.Quantity = @item.SubTotal
        </span>
        <div class="col-md-3">
            <br />
            <br />
            <a asp-action="DeleteCartItem" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}
<div>
    @await Component.InvokeAsync("CartTotal")
</div>
<a class="btn btn-success" asp-action="ProceedToCheckout">Proceed to checkout</a>
